* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
img {
    max-width: 100%;
}
  
.container {
    width: 100%;
    height: 100vh;
    padding: 50px;

    /* debug */
    background-color: black;
}
  
.flex {
    display: flex;
    flex-wrap: wrap;
}
  
.col {
    width: calc(100% / 7);
    padding-right: 5px;
}
  
.card {
    position: relative;
}
  
.id-chat {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    background-color: rgb(0, 0, 0, .4);
}


/* BARRA IN FONDO */
.bar {
    width: 100%;
    height: 80px;
    margin-top: 20px;
    background-color: #222222;
}

.left-icons {
    display: flex;
    height: 100%;
    width: 25%;
    color: white;
    font-size: 2em;

    /* debug */
    /* border: 2px solid white; */
}

.small {
    font-size: .5em;
}


.central-icons {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 50%;
    font-size: 2em;
    color: white;

    /* debug */
    /* border: 2px solid white; */
}

.space {
    align-items: center;
    gap: 30px;
}

.green {
    color: lightgreen;
}


.close-call {
    display: flex;
    height: 100%;
    width: 10%;
    font-size: 1em;
    color: red;

    /* debug */
    /* border: 2px solid white; */
    background-color: #4a4a4a;
}


  